@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.icon svg {
  fill: white;
  margin-bottom: 10px;
}

.logo svg {
  fill: white;
  margin-bottom: 10px;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 16px;
}
