.grid {
  display: grid;
  grid-template-columns: 23% 77%;
}

.sidebar {
  background-color: #0ea5e9;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 75% 15%;
  grid-template-rows: 15% 40% 45%;
}

.main-content {
  background-color: white;
  height: 100vh;
}

.logo {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: center;
}

.logo h1 {
  color: white;
  align-self: center;
  margin-left: 10px;
}

.icon {
  display: grid;
  grid-template-columns: 20% 50% 30%;
}

.icon p {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.icon p:hover {
  text-decoration: underline;
}

.list-items-one {
  grid-row: 2/3;
  grid-column: 2/3;
}

.list-items-two {
  grid-row: 3/4;
  grid-column: 2/3;
}

.main-content {
  display: grid;
  grid-template-rows: 20% 80%;
}

header {
  grid-row: 1/2;
  background-color: white;
}

main {
  grid-row: 2/3;
  background-color: #f4f4f5;
}

.header-top {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 20px;
}

.header-top-left {
  grid-column: 1/2;
  display: grid;
  display: flex;
  justify-content: flex-start;
}

.header-top-left svg {
  margin-right: 15px;
}

input {
  width: 450px;
  height: 30px;
  background-color: #f4f4f5;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.header-top-right {
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
}

.header-top-right p {
  align-self: center;
}

.header-bottom {
  display: grid;
  grid-template-columns: 60% 40%;
}

.header-bottom-left {
  display: flex;
  justify-content: flex-start;
}

.header-bottom-left-two {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.header-bottom-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-bottom-right button {
  background-color: #0ea5e9;
  border: 1px solid #0ea5e9;
  color: white;
  width: 70px;
  height: 35px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
}

button:hover {
  transform: scale(0.8);
}

main {
  display: grid;
  grid-template-columns: 70% 30%;
}

.projects {
  grid-column: 1/2;
}

.announce-and-trend {
  grid-column: 2/3;
}

.cards {
  display: grid;
  grid-template-columns: 50% 50%;
}

.card {
  height: 135px;
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border-left: 5px solid #0a0a0a;
  margin-top: 15px;
}

.cards-left {
  margin-left: 20px;
}

.connect {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-top: 10px;
}

.announce-and-trend {
  display: grid;
  grid-template-rows: 50% 50%;
}

.accouncements-card {
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 20px;
}

hr {
  margin: 8px;
}

.card-trending {
  display: flex;
}

.trending-holder {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 20px;
}

.card-trending {
  margin: 10px;
}

.card-trending svg {
  margin-right: 10px;
}

.card-trending h6 {
  margin-right: 5px;
}
